
button{
    text-align: center;
    border: none;
    border-radius: 5px; 
}

.container{
    display: flex;
    flex-direction: column;
}

.container-subtitle{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.options-menu{
    background-color: #efefef;
    width: 50%;
    justify-content: center;
    text-align: center;
    border: none;
}

.img-home-logo{
    width: 300px; 
    height: 150px;
    margin: 2% 10%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.FiltroBusqueda {
    margin-bottom: 10px;
}

input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 5px 15px;
    width: 100%;
  }

  /* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 600px;
    outline: none;
    padding: 10px;
}